---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/trailblazer/trailblazer/contents//
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 302 Found
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '22'
      X-Ratelimit-Reset:
      - '1536695781'
      Location:
      - https://api.github.com/repositories/10955751/contents/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 11 Sep 2018 19:04:00 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/10955751/contents/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '21'
      X-Ratelimit-Reset:
      - '1536695781'
      Etag:
      - W/"a3d31521a5e16434bce9e4543707f0cac03fa92a"
      Last-Modified:
      - Tue, 11 Sep 2018 18:00:37 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"name":".gitignore","path":".gitignore","sha":"e4bbcb1cc1f03de6b267480905f967163b29d140","size":173,"url":"https://api.github.com/repos/trailblazer/trailblazer/contents/.gitignore?ref=master","html_url":"https://github.com/trailblazer/trailblazer/blob/master/.gitignore","git_url":"https://api.github.com/repos/trailblazer/trailblazer/git/blobs/e4bbcb1cc1f03de6b267480905f967163b29d140","download_url":"https://raw.githubusercontent.com/trailblazer/trailblazer/master/.gitignore","type":"file","_links":{"self":"https://api.github.com/repos/trailblazer/trailblazer/contents/.gitignore?ref=master","git":"https://api.github.com/repos/trailblazer/trailblazer/git/blobs/e4bbcb1cc1f03de6b267480905f967163b29d140","html":"https://github.com/trailblazer/trailblazer/blob/master/.gitignore"}},{"name":".rubocop-https---raw-githubusercontent-com-trailblazer-meta-master-rubocop-yml","path":".rubocop-https---raw-githubusercontent-com-trailblazer-meta-master-rubocop-yml","sha":"27be8e1e3c4a16e453457690108d883328221bbc","size":2249,"url":"https://api.github.com/repos/trailblazer/trailblazer/contents/.rubocop-https---raw-githubusercontent-com-trailblazer-meta-master-rubocop-yml?ref=master","html_url":"https://github.com/t[...]
