---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/octokit/octokit.rb/contents//
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 302 Found
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '53'
      X-Ratelimit-Reset:
      - '1536760876'
      Location:
      - https://api.github.com/repositories/417862/contents/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 12 Sep 2018 13:01:20 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/417862/contents/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '52'
      X-Ratelimit-Reset:
      - '1536760876'
      Etag:
      - W/"bb1bb539158db0c0671f2619b3248aa8c7e392a2"
      Last-Modified:
      - Tue, 11 Sep 2018 19:12:44 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"name":".document","path":".document","sha":"0ad1bde480e843a9d60fb4ac93727ebc3c728e77","size":53,"url":"https://api.github.com/repos/octokit/octokit.rb/contents/.document?ref=master","html_url":"https://github.com/octokit/octokit.rb/blob/master/.document","git_url":"https://api.github.com/repos/octokit/octokit.rb/git/blobs/0ad1bde480e843a9d60fb4ac93727ebc3c728e77","download_url":"https://raw.githubusercontent.com/octokit/octokit.rb/master/.document","type":"file","_links":{"self":"https://api.github.com/repos/octokit/octokit.rb/contents/.document?ref=master","git":"https://api.github.com/repos/octokit/octokit.rb/git/blobs/0ad1bde480e843a9d60fb4ac93727ebc3c728e77","html":"https://github.com/octokit/octokit.rb/blob/master/.document"}},{"name":".gemtest","path":".gemtest","sha":"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391","size":0,"url":"https://api.github.com/repos/octokit/octokit.rb/contents/.gemtest?ref=master","html_url":"https://github.com/octokit/octokit.rb/blob/master/.gemtest","git_url":"https://api.github.com/repos/octokit/octokit.rb/git/blobs/e69de29bb2d1d6434b8b29ae775ad8c2e48c5391","download_url":"https://raw.githubusercontent.com/octokit/octokit.rb/mast[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/octokit/octokit.rb/contents/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1536760876'
      Etag[...]
