---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/rails.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"8ae1c5ba9500259e522b75ac1edeb927"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"rails","downloads":143105173,"version":"5.2.1","version_downloads":398305,"platform":"ruby","authors":"David
        Heinemeier Hansson","info":"Ruby on Rails is a full-stack web framework optimized
        for programmer happiness and sustainable productivity. It encourages beautiful
        code by favoring convention over configuration.","licenses":["MIT"],"metadata":{},"sha":"776cfea45140972f1780236748f7cfe72cf95c032056812128433273c366078c","project_uri":"https://rubygems.org/gems/rails","gem_uri":"https://rubygems.org/gems/rails-5.2.1.gem","homepage_uri":"http://rubyonrails.org","wiki_uri":"","documentation_uri":"http://api.rubyonrails.org","mailing_list_uri":"http://groups.google.com/group/rubyonrails-talk","source_code_uri":"http://github.com/rails/rails","bug_tracker_uri":"http://github.com/rails/rails/issues","changelog_uri":null,"dependencies":{"development":[],"runtime":[{"name":"actioncable","requirements":"=
        5.2.1"},{"name":"actionmailer","requirements":"= 5.2.1"},{"name":"actionpack","requirements":"=
        5.2.1"},{"name":"actionview","requirements":"= 5.2.1"},{"name":"activejob","requirements":"=
        5.2.1"},{"name":"activemodel","requirements":"= 5.2.1"},{"name":"activerecord","requirements":"=
        5.2.1"},{"name":"activestorage","requirements":"= 5.2.1"},{"name":"activesupport","requirements":"=
        5.2.1"},{"name":"bundler","requirements":"\u003e= 1.3.0"},{"name":"railties","requirements":"=
        5.2.1"},{"name":"sprockets-rails","requirements":"\u003e= 2.0.0"}]}}'
  recorded_at: Wed, 12 Sep 2018 12:38:33 GMT
- request:
    method: get
    uri: https://api.github.com/repos/rails/rails/contents//
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 302 Found
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '19'
      X-Ratelimit-Reset:
      - '1536756843'
      Location:
      - https://api.github.com/repositories/8514/contents/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 12 Sep 2018 12:38:33 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/8514/contents/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '18'
      X-Ratelimit-Reset:
      - '1536756843'
      Etag:
      - W/"42a831fc6a68a3dcebfd04da57a4ef6e18cf70ee"
      Last-Modified:
      - Wed, 12 Sep 2018 11:47:57 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"name":".codeclimate.yml","path":".codeclimate.yml","sha":"7fd35d824134f38f33391892426ecb1797d2384c","size":532,"url":"https://api.github.com/repos/rails/rails/contents/.codeclimate.yml?ref=master","html_url":"https://github.com/rails/rails/blob/master/.codeclimate.yml","git_url":"https://api.github.com/repos/rails/rails/git/blobs/7fd35d824134f38f33391892426ecb1797d2384c","download_url":"https://raw.githubusercontent.com/rails/rails/master/.codeclimate.yml","type":"file","_links":{"self":"https://api.github.com/repos/rails/rails/contents/.codeclimate.yml?ref=master","git":"https://api.github.com/repos/rails/rails/git/blobs/7fd35d824134f38f33391892426ecb1797d2384c","html":"https://github.com/rails/rails/blob/master/.codeclimate.yml"}},{"name":".gitattributes","path":".gitattributes","sha":"f6276855cea0169bc2c009d59b20fe69025b7c5e","size":35,"url":"https://api.github.com/repos/rails/rails/contents/.gitattributes?ref=master","html_url":"https://github.com/rails/rails/blob/master/.gitattributes","git_url":"https://api.github.com/repos/rails/rails/git/blobs/f6276855cea0169bc2c009d59b20fe69025b7c5e","download_url":"https://raw.githubusercontent.com/rails/rails/master/[...]
[...]
