---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/faker.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"f242f43b4a061f39de7a4eea311903dd"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"faker","downloads":27622533,"version":"1.9.1","version_downloads":470054,"platform":"ruby","authors":"Benjamin
        Curtis","info":"Faker, a port of Data::Faker from Perl, is used to easily
        generate fake data: names, addresses, phone numbers, etc.","licenses":["MIT"],"metadata":{},"sha":"f140d8e67a8ff8ef46c535a1766590d6ad0ae81cbe8ab733060cd05566e60707","project_uri":"https://rubygems.org/gems/faker","gem_uri":"https://rubygems.org/gems/faker-1.9.1.gem","homepage_uri":"https://github.com/stympy/faker","wiki_uri":"","documentation_uri":"http://www.rubydoc.info/gems/faker/1.9.1","mailing_list_uri":"","source_code_uri":"https://github.com/stympy/faker","bug_tracker_uri":"","changelog_uri":null,"dependencies":{"development":[{"name":"launchy","requirements":"\u003e=
        0"},{"name":"minitest","requirements":"\u003e= 0"},{"name":"rake","requirements":"\u003e=
        0"},{"name":"rubocop","requirements":"\u003e= 0"},{"name":"simplecov","requirements":"\u003e=
        0"},{"name":"test-unit","requirements":"\u003e= 0"},{"name":"timecop","requirements":"\u003e=
        0"}],"runtime":[{"name":"i18n","requirements":"\u003e= 0.7"}]}}'
  recorded_at: Mon, 10 Sep 2018 14:50:26 GMT
- request:
    method: get
    uri: https://api.github.com/repos/stympy/faker/contents//
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 403 Forbidden
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '1536592071'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"API rate limit exceeded for 37.115.72.170. (But here''s
        the good news: Authenticated requests get a higher rate limit. Check out the
        documentation for more details.)","documentation_url":"https://developer.github.com/v3/#rate-limiting"}'
  recorded_at: Mon, 10 Sep 2018 14:50:26 GMT
recorded_with: VCR 4.0.0
