---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/rails.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"2214632676b847adc562d602080854bc"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"rails","downloads":142856736,"version":"5.2.1","version_downloads":367262,"platform":"ruby","authors":"David
        Heinemeier Hansson","info":"Ruby on Rails is a full-stack web framework optimized
        for programmer happiness and sustainable productivity. It encourages beautiful
        code by favoring convention over configuration.","licenses":["MIT"],"metadata":{},"sha":"776cfea45140972f1780236748f7cfe72cf95c032056812128433273c366078c","project_uri":"https://rubygems.org/gems/rails","gem_uri":"https://rubygems.org/gems/rails-5.2.1.gem","homepage_uri":"http://rubyonrails.org","wiki_uri":"","documentation_uri":"http://api.rubyonrails.org","mailing_list_uri":"http://groups.google.com/group/rubyonrails-talk","source_code_uri":"http://github.com/rails/rails","bug_tracker_uri":"http://github.com/rails/rails/issues","changelog_uri":null,"dependencies":{"development":[],"runtime":[{"name":"actioncable","requirements":"=
        5.2.1"},{"name":"actionmailer","requirements":"= 5.2.1"},{"name":"actionpack","requirements":"=
        5.2.1"},{"name":"actionview","requirements":"= 5.2.1"},{"name":"activejob","requirements":"=
        5.2.1"},{"name":"activemodel","requirements":"= 5.2.1"},{"name":"activerecord","requirements":"=
        5.2.1"},{"name":"activestorage","requirements":"= 5.2.1"},{"name":"activesupport","requirements":"=
        5.2.1"},{"name":"bundler","requirements":"\u003e= 1.3.0"},{"name":"railties","requirements":"=
        5.2.1"},{"name":"sprockets-rails","requirements":"\u003e= 2.0.0"}]}}'
  recorded_at: Mon, 10 Sep 2018 14:50:25 GMT
- request:
    method: get
    uri: https://api.github.com/repos/rails/rails/contents//
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 403 Forbidden
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '1536592071'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"API rate limit exceeded for 37.115.72.170. (But here''s
        the good news: Authenticated requests get a higher rate limit. Check out the
        documentation for more details.)","documentation_url":"https://developer.github.com/v3/#rate-limiting"}'
  recorded_at: Mon, 10 Sep 2018 14:50:25 GMT
recorded_with: VCR 4.0.0
