---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/stympy/faker/contents//
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 302 Found
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '15'
      X-Ratelimit-Reset:
      - '1536582873'
      Location:
      - https://api.github.com/repositories/96395/contents/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Sep 2018 11:39:33 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/96395/contents/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '14'
      X-Ratelimit-Reset:
      - '1536582873'
      Etag:
      - W/"fd8de591610dea449e868b5b963e3daff910432e"
      Last-Modified:
      - Mon, 10 Sep 2018 08:13:34 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"name":".gitignore","path":".gitignore","sha":"447be08cc79b3b8f55365608d9a3d4ed68af8321","size":265,"url":"https://api.github.com/repos/stympy/faker/contents/.gitignore?ref=master","html_url":"https://github.com/stympy/faker/blob/master/.gitignore","git_url":"https://api.github.com/repos/stympy/faker/git/blobs/447be08cc79b3b8f55365608d9a3d4ed68af8321","download_url":"https://raw.githubusercontent.com/stympy/faker/master/.gitignore","type":"file","_links":{"self":"https://api.github.com/repos/stympy/faker/contents/.gitignore?ref=master","git":"https://api.github.com/repos/stympy/faker/git/blobs/447be08cc79b3b8f55365608d9a3d4ed68af8321","html":"https://github.com/stympy/faker/blob/master/.gitignore"}},{"name":".rubocop.yml","path":".rubocop.yml","sha":"9292b930c31dd7a9ef6c30c1d23d15ad74754c11","size":540,"url":"https://api.github.com/repos/stympy/faker/contents/.rubocop.yml?ref=master","html_url":"https://github.com/stympy/faker/blob/master/.rubocop.yml","git_url":"https://api.github.com/repos/stympy/faker/git/blobs/9292b930c31dd7a9ef6c30c1d23d15ad74754c11","download_url":"https://raw.githubusercontent.com/stympy/faker/master/.rubocop[...]
